@charset "UTF-8";


/*------------------------*/
/*     全体のスタイル     */
/*------------------------*/



/*------------------------*/
/*         header         */
/*------------------------*/
header {
  display: flex;
}
#logo {
  flex-grow: 1;
}
.menu {
  display:flex;
  flex-grow: 10;
  justify-content: flex-end;
}
  



/*------------------------*/
/*          news          */
/*------------------------*/



/*------------------------*/
/*       interview       */
/*------------------------*/



/*------------------------*/
/*        business        */
/*------------------------*/



/*------------------------*/
/*    company&recruit    */
/*------------------------*/



/*------------------------*/
/*         access         */
/*------------------------*/



/*------------------------*/
/*         footer         */
/*------------------------*/
